<h1 class="text-center my-2">Welcome to The Android's Dungeon!</h1>
<h2 class="text-center my-2">"Worst. Episode. Ever."</h2>

<div class="d-flex flex-column justify-content-center align-items-center row-gap-4 px-4 mt-2 mb-4">
    <h3>Explore our categories</h3>
    <div>
    <a href='/api/products?category=Comics' title="Comics" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/comics.jpeg" alt="Comics" />
    </a>

    <a href='/api/products?category=Figures' title="Figures" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/figures.jpg" alt="Figures" />
    </a>

    <a href='/api/products?category=Movies%20and%20Series' title="Movies and Series" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/movies.webp" alt="Movies and Series" />
    </a>

    <a href='/api/products?category=Accessories' title="Accessories" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/accessories.webp" alt="Accessories" />
    </a>

    <a href='/api/products?category=Card%20Games' title="Card Games" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/cards.webp" alt="Card Games" />
    </a>

    <a href='/api/products?category=Board%20Games' title="Board Games" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/boardgame.webp" alt="Board Games" />
    </a>

    <a href='/api/products?category=Books' title="Books" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/books.jpg" alt="Books" />
    </a>

    <a href='/api/products?category=Clothing' title="Clothing" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/shirt.jpg" alt="Clothing" />
    </a>

    <a href='/api/products?category=Posters' title="Posters" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/posters.jpg" alt="Posters" />
    </a>

    <a href='/api/products?category=Consoles' title="Consoles" style="text-decoration: none;">
        <img class='bg-secondary-subtle rounded rounded-3 me-4' style='height: 80px' src="/images/categories/station.webp" alt="Consoles" />
    </a>
</div>
    
</div>

<h2 class="text-center my-2">Our products!</h2>

<div class='row row-cols-1 row-cols-md-3 mb-3 text-center'>
    {{#each products}}
        <div class='col'>
            <div class='card mb-4 rounded-3 shadow-sm'>
                <div class='card-header py-3'>
                    <h4 class='my-0 fw-normal'>{{this.category}}</h4>
                </div>
                <div class='card-body'>
                    <h5>{{title}}</h5>
                    <h6 class='card-title'>
                        ${{price}}
                    </h6>
                    <a href="/products/{{_id}}" class='w-100 btn btn-lg btn-outline-primary'>
                        View details
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="d-flex justify-content-center items-center gap-3 m-4 py-2" style="background-color: #EAFF6A;">
    {{#if pagination.prevPage}}
        <a class="border-0 bg-transparent p-0 pointer" href="/api/products?limit=6&page={{pagination.prevPage}}">
            <img src="/images/prev_icon.svg" alt="go back arrow" style="height: 2rem;">
        </a>
    {{/if}}

    <span class="rounded text-center" style="height: 2rem; width: 2rem; background-color: #0B1215; color: #EAFF6A; font-weight: bold; font-size: 1.2rem;">{{pagination.page}}</span>
    
    {{#if pagination.nextPage}}
        <a class="border-0 bg-transparent p-0 pointer" href="/api/products?limit=6&page={{pagination.nextPage}}">
            <img src="/images/next_icon.svg" alt="go ahead arrow" style="height: 2rem;">
        </a>
    {{/if}}
</div>