<h1>DETAILS OF THE PRODUCT {{product.id}}</h1>
{{#if product.id}}
  <p>Title: {{product.title}}</p>
  <img src={{product.photo}} alt={{product.title}}>
  <p>Price: {{product.price}}</p>
  <p>Stock: {{product.stock}}</p>
  <div class='card-footer text-center'>
    <a href='#' class='btn btn-primary'>Add to cart</a>
    <a href='/' class='btn btn-primary'>Go back</a>
  </div>
{{else}}
  <p>Product not found</p>
{{/if}}